/* Media Queries */

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
  /* Estilos Generales */
  header {
    flex-direction: column;
    align-items: center;
    width: 576px;
  }

  ul li a {
    font-size: 15px;
  }

  h2 {
    width: 100%;
    font-size: 25px;
  }

  .footer {
    width: 100%;
    font-size: 11px;
    justify-content: center;
  }

  p {
    font-size: 10px;
  }

  /* index */

  .banner_container img {
    width: 97%;
  }

  .centrado {
    font-size: 70px;
  }

  .texto1,
  .texto2,
  .texto3,
  .texto4 {
    font-size: 80px;
  }

  .texto1 {
    top: 400px;
  }

  .texto2 {
    top: 835px;
    left: 200px;
  }

  .texto3 {
    top: 1200px;
  }

  .texto4 {
    top: 1600px;
  }

  .row {
    align-items: center;
  }

  .gameoftheweek {
    background-image: url(./Img/gameoftheweekmobile.webp);
  }

  /* Accesories */
  .productos__headphones,
  .productos__mouse {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* Retro /*/
  .consoles__container {
    flex-direction: column;
  }

  .texto-ps1 {
    top: 1200px;
    right: 100px;
  }

  .joystickstandar {
    width: 400px;
  }

  /* Gaming */
  .texto2 {
    top: 725px;
    right: 60px;
  }
  .texto3 {
    top: 750px;
    right: 60px;
  }
  .texto4 {
    top: 1200px;
  }
}
